@font-face {
    font-family: 'Valorant';
    src: url('../assets/fonts/Valorant.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/montserrat.ttf') format('truetype');
}

.weapon-card-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.weapon-card {
    background-color: #f8f8f8;
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
    transition: transform 0.2s;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 50px;
}

.weapon-card:hover {
    transform: scale(1.05);
}

.weapon-card img {
    margin-bottom: 20px;
    width: 250px;
    height: auto;
    object-fit: contain;
}

.weapon-card h2 {
    font-family: 'Valorant';
    font-size: 25px;
    margin: 10px 0;
}

.weapon-category {
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat";
    background-color: #9B59B6;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 25px;
    width: fit-content;
}

.weapon-cost {
    font-size: 20px;
    font-weight: bolder;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 25px;
    width: fit-content;
}